table,tr,td,th{
     border: 1px solid black;
     border-collapse: collapse;
     padding: 25px;
     margin: auto;
     margin-top: 50px;
}
th{
     border-top: 5px solid red;
     font-size: 20px;
}
tr   :nth-child(2n-1){
     background-color: rgba(0,0,0,.2)
}
th{
     background-color: rgba(0,0,0,.7);
     color: white;
}
table{
     box-shadow: 0     px 10px 20px;
}